
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42;
    color: #333;
    background-color: #fff;
}
body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#header {
    width: 100%;
    height: 40px;
    background: #4a0066;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
    color: #fff;
}
#auto {
    width: 100%;
    height: 100%;
    margin: -40px 0 -24px 0;
    padding: 40px 0 24px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#contents {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#codeEditor{
    left: 15px;
    padding: 15px 0 15px 15px;
}
#codeEditor, jsonEditor{
    height: 100%;
    box-sizing: border-box
}
#jsonEditor{
    padding: 15px 15px 15px 0;
}

#splitter {
    text-align: center;
    float: left;
    height: 100%;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#splitter #buttons {
    margin: 0 0 15px 0;
}
#splitter #toTree {
    margin: 40px 0 0 0;
}
#splitter #toCode {
    margin: 20px 0 0 0;
}
button.convert {
    cursor: default;
    padding: 2px;
}
div.convert-right {
    width: 25px;
    height: 25px;
    background: url(img/jsoneditor-icons.svg) 0 -48px;
}
div.convert-left {
    width: 25px;
    height: 25px;
    background: url(img/jsoneditor-icons.svg) -24px -48px;
}
a {
    color: #4a0066;
    text-decoration: none;
    background-color: transparent;
}
a.header {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #4a0066;
    text-decoration: underline;
}
a.footer {
    color: #bfbfbf;
    text-decoration: none;
}
a.footer:hover {
    color: #4a0066;
    text-decoration: underline;
}
#footer {
    width: 100%;
    height: 23px;
    font-size: 10pt;
    overflow: hidden;
    color: #bfbfbf;
    border-top: 1px solid #d3d3d3;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
}
#footer-inner {
    margin: 4px;
}